.dialog-pane {
    -fx-border-color: black;
    -fx-border-width: 2.0px;
}

/* Nuppude asukoha kohandamine */
.dialog-pane > .button-bar > .container {
    -fx-background-color: black;
}

.dialog-pane > .content.label {
    -fx-padding: 0.5em;
    -fx-background-color: #2b2b2b; /* Tumem taust */
    -fx-text-fill: white; /* Valge tekst */
    -fx-font-size: 15.0px;
}

/* Dialoogi päise kohandamine */
.dialog-pane:header .header-panel {
    -fx-background-color: #383838; /* Veidi heledam taust */
}

.dialog-pane:header .header-panel .label {
    -fx-background-color: #2b2b2b; /* Tumem taust */
    -fx-background-radius: 10px;
    -fx-text-fill: white; /* Valge tekst */
    -fx-font-size: 15.0px;
    -fx-padding: 5px; /* Lisame polsterdust teksti ümber */
}

/* Nuppude kohandamine */
.dialog-pane .button {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-wrap-text: true;
    -fx-effect: dropshadow(three-pass-box, red, 10.0, 0.0, 0.0, 0.0);
    -fx-cursor: hand;
}

.dialog-pane .button:hover {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
